<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/facebox/facebox.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/static/js/jquery.relatize_date.js"></script>
    <script type="text/javascript" src="/static/facebox/facebox.js"></script>
    <script type="text/javascript">
    $( document ).ready( function() {
        var currentOffset = 0;

        $( '.relatize' ).relatizeDate();

        var items = $( '.hentry' );
        var current = -1;

        $( document ).bind( 'keydown', 'j', function( e ) {
            if ( current < items.length - 1 ) {
                showItem( current + 1 );
            }
            return false;
        } );
        
        $( document ).bind( 'keydown', 'k', function( e ) {
            if ( current > 0 ) {
                showItem( current - 1 );
            }
            return false;
        } );
        
        $( document ).bind( 'keydown', 'space', function( e ) {
            if ( current >= 0 && current < items.length ) {
                $.facebox( {
                    div: '#' + items.get( current ).id + '-full'
                } );
                return false;
            }
        } );
        
        $( '#more-button' ).bind( 'click', function( e ) {
            e.preventDefault();
            currentOffset += 20;
            $.get( '[% uri %]', { offset: currentOffset, format: 'partial' }, function( data ) {
                $( '#assets-container' ).append( data );
            } );
        } );

        function showItem( index ) {
            $( items.get( current ) ).removeClass( 'selected' );
            current = index;

            var div = $( items.get( current ) );
            div.addClass( 'selected' );

            var pos = div.offset();
      	  	window.scrollTo( 0, Math.round( pos.top ) - 20 );
        }
    } );
    </script>    
    <title>Dashboard</title>
</head>
<body class="[% body_class | html %]">
    <div id="doc3">
    
        <div id="hd">
[%- USE today = DateTime( today = 1 );
    yesterday = today.subtract( days => 1 ) -%]
            <div class="brand">
                <div class="container">
                    <strong><a href="http://www.typepad.com/">TypePad</a></strong> /
                    Dashboard
                </div>
            </div>
            <div class="navigation">
                <div class="container">
                    <ul>                        
                        <li class="dashboard"><a href="/"><span>Dashboard</span></a></li>
                        <li class="leaders"><a href="/most"><span>Leaderboard</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div id="bd">
            <div class="container">
                <div class="box">
                    <div id="assets-container">
[% INCLUDE assets_list.tt %]
                    </div>

                    <div id="pagination">
                        <a href="#" id="more-button">more</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="ft">
            <div class="container">
                <p>Powered by <a href="http://www.typepad.com/">TypePad</a></p> 
            </div>
        </div>

    </div>
</body>
</html>