<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/facebox/facebox.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/js/jquery.relatize_date.js"></script>
    <script type="text/javascript" src="/facebox/facebox.js"></script>
    <script type="text/javascript">
    $( document ).ready( function() {
        $( '.relatize' ).relatizeDate()
        
        var items = $( '.hentry' );
        var current = -1;

        $( document ).bind( 'keydown', 'j', function( e ) {
            if ( current < items.length - 1 ) {
                showItem( current + 1 );
            }
            return false;
        } );
        
        $( document ).bind( 'keydown', 'k', function( e ) {
            if ( current > 0 ) {
                showItem( current - 1 );
            }
            return false;
        } );
        
        $( document ).bind( 'keydown', 'space', function( e ) {
            if ( current >= 0 && current < items.length ) {
                $.facebox( {
                    div: '#' + items.get( current ).id + '-full'
                } );
                return false;
            }
        } );

        function showItem( index ) {
            $( items.get( current ) ).removeClass( 'selected' );
            current = index;

            var div = $( items.get( current ) );
            div.addClass( 'selected' );

            var pos = div.offset();
      	  	window.scrollTo( 0, Math.round( pos.top ) - 20 );
        }
        
        showItem( current );
    } );
    </script>    
    <title>Dashboard</title>
</head>
<body class="[% body_class | html %]">
    <div id="doc3">
    
        <div id="hd">
[%- USE today = DateTime( today = 1 );
    yesterday = today.subtract( days => 1 ) -%]
            <div class="brand">
                <div class="container">
                    <strong><a href="http://www.typepad.com/">TypePad</a></strong> /
                    Dashboard
                </div>
            </div>
            <div class="navigation">
                <div class="container">
                    <ul>                        
                        <li class="dashboard"><a href="/"><span>Dashboard</span></a></li>
                        <li class="leaders"><a href="/most"><span>Leaderboard</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div id="bd">
            <div class="container">
                <div class="box">
[%- FOR asset IN assets %]
    [%- IF param.debug %]<pre>[% USE Dumper; Dumper.dump( asset.content ) %]</pre>[%- END %]
                    <div id="asset-[% asset.api_id | html %]" class="yui-gf hentry">
                        <div class="details yui-u first">
                            <p class="creator">
                                <a href="http://profile.typepad.com/[% asset.author.api_id | html %]"><img src="[% asset.author.avatar_uri | html %]" alt="[% asset.author.display_name | html %]" height="50" width="50" /></a><br />
                                <span class="screenname"><a href="http://profile.typepad.com/[% asset.author.api_id | html %]" title="Go to [% asset.author.display_name | html %]’s page at typepad.com">[% asset.author.display_name | html %]</a></span>
    [%- IF asset.favorite_count %]
                                <p class="favoriters">
        [%- FOR person IN asset.favorited_by %]
                                    <a href="http://profile.typepad.com/[% person.api_id | html %]" class="noline" title="[% person.display_name | html %]"><img src="[% person.avatar_uri | html %]" alt="[% person.display_name | html %]" height="24" width="24" onerror="onImgError(this)" /></a>
        [%- END %]
                                    <span class="favorite-count">[% asset.favorite_count %]</span>
                                </p>
    [%- END %]
                            </p>
                        </div>
                        <div class="content yui-u">
    [% INCLUDE short %]
                        </div>
                    </div>

                    <div id="asset-[% asset.api_id | html %]-full" style="display: none">
    [%- IF asset.title %]
                        <h2><a href="[% asset.permalink %]">[% asset.title %]</a></h2>
    [%- END %]

                        [% asset.content.rendered %]
                        <span class="meta"><a href="[% asset.permalink | html %]" title="View individual post"><abbr class="relatize" title="[% asset.published.iso8601 | html %]">[% asset.published.web | html %]</abbr></a></span>
                    </div>
[%- END %]
                </div>
            </div>
        </div>
    
        <div id="ft">
            <div class="container">
                <p>Powered by <a href="http://www.typepad.com/">TypePad</a></p> 
            </div>
        </div>

    </div>
</body>
</html>


[% BLOCK short %]
    [%- IF asset.content.media.size;
            photo = asset.content.media.0;
        END; %]
    [% IF asset.title && asset.title != asset.content.excerpt %]
                        <h2><a class="entry-title" href="[% asset.permalink %]">[% asset.title %]</a></h2>
    [%- END %]
    [%- IF asset.content.excerpt && asset.content.excerpt.length > 50 %]
        [%- IF photo %]
                        <img class="photo-thumb" src="[% IF photo.server && photo.id %]http://[% photo.server | html %]/[% photo.id | html %]-150wi[% ELSE %][% photo.uri | html %][% END %]" />
        [%- END %]
                            <p>[% asset.content.excerpt %]</p>
    [%- ELSIF photo; %]
                            <p><img class="photo-medium" src="[% IF photo.server && photo.id %]http://[% photo.server | html %]/[% photo.id | html %]-350wi[% ELSE %][% photo.uri | html %][% END %]" />
        [%- IF asset.content.excerpt %]
                            <p>[% asset.content.excerpt %]</p>
        [%- END %]
    [%- END %]
                            <span class="meta"><a href="[% asset.permalink | html %]" title="View individual post"><abbr class="relatize" title="[% asset.published.iso8601 | html %]">[% asset.published.web | html %]</abbr></a></span>
[%- END %]